{% extends 'base.html' %}
{% load filters %}
{% load static %}

{% block content %}
    <!--<script src="{% static 'js/login.js' %}"></script>-->
    <div class="container">
         <div class="row">


            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5 class="text-center">
                            <img style="max-width:50px; margin-bottom: 50px"
                                src="{% static 'img/logo.png' %}">
                        </h5>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert success">
                                    <p>{{ message }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form id="loginForm" class="form form-signup" role="form" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    {{ form.username.errors }}
                                    {{ form.username|addcss:"form-control" }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                    {{ form.password.errors }}
                                    {{ form.password|addcss:"form-control"}}
                                </div>
                            </div>

                            <div class="form-row label-block input-text">
                                <button type="submit" name="go" class="btn btn-primary btn-block">Entrar</button>
                            </div>

                    </form>
                </div>
            </div>
         </div>
    </div>
</div>





{% endblock %}
