{% extends "base.html" %}
{% block title %}Nova senha{% endblock %}

{% block content %}
    {% if validlink %}

        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmação da senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Atualizar" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Sua senha não foi resetada</h1>
        <p>O link solicitado é invalido, por favor repita o processo.</p>
    {% endif %}
{% endblock %}