{% extends 'base.html' %}

{% block title %}500. Erro inesperado{% endblock title %}

{% block content %}
<section>
    <div class="content row padding-bottom-3 desktop-12 container">

        <h1>500</h1>
        <h2>Erro interno inesperado</h2>
        <div class="desktop-6">
            <p>Oops.</p>
            <p>Nós tivemos um erro e nosso time já está trabalhando na solução.<br />
               Contact us <a href="mailto:contato@contrachequeonline.com?subject=500 Erro interno inesperado">contato@contrachequeonline.com</a></p>
        </div>
    </div>
</section>
{% endblock content %}
