{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block content %}

    <div class="container">
         <div class="row">

            <section id="matriculas">
                <div class="matriculas col-md-6 padding-bottom-50">
                    <section class="matriculas-form">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            {% for field in form %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                                        {{ field.errors }}
                                        {{ field|addcss:"form-control" }}
                                    </div>
                                </div>
                            {% endfor %}


                            <button type="submit" name="go" class="btn btn-primary">Buscar</button>

                        </form>
                    </section>
                </div>

            </section>
        </div>

        <div class="row">

            <section id="contra-cheques">
                <div class="contra-cheques text-center col-md-6 padding-bottom-50">
                    <section class="contra-cheques">
                        <div class="list-group">
                            {% for contra_cheque in contra_cheques %}
                                 <a class="list-group-item" href="{{ contra_cheque.url }}" target="_blank"> {{ contra_cheque.mes_extenso }}</a>
                            {% empty %}
                                <p class="list-group-item">Selecione uma matrícula com contracheques neste exercício.</p>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </section>
        </div>
</div>

{% endblock content %}
