{% extends 'base.html' %}
{% load static %}
{% load filters %}

{%  block content %}

    <div class="container">
         <div class="row">

             <div class="matriculas col-md-8 padding-bottom-50">
                <div class="well bs-component">
                    <form action="." method="post" enctype="multipart/form-data">
                        <fieldset>
                            <legend>Upload</legend>
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            {% for field in form %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                                        {{ field.errors }}
                                        {% if field.label == "Arquivo" %}
                                            {{ field }}
                                        {% else %}
                                            {{ field|addcss:"form-control" }}
                                        {% endif %}

                                    </div>
                                </div>
                            {% endfor %}


                            <button type="submit" name="go" class="btn btn-primary">Enviar</button>
                            <a href="{% url 'check_upload' %}" class="btn btn-primary">Check</a>
                        </fieldset>

                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}
